.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
#titles {
    display: flex;
}
#titles h2 {
    padding: 20px;
}
#src {
    width: 40%;
    border: 1px solid red;
}
#cndt {
    width: 50%;
    border: 1px solid red;
}

#pie {
    width: 30%;
    border: 1px solid red;
    padding: 20px;
}

#bar {
    width: 50%;
    border: 1px solid red;
    padding: 20px;
}